@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align: center;
  color: #f8f8f8;
}
h2{
  margin-top: 10px;
}

label{
  font-size: 20px;
  margin-top:10px;
}

input{
  width:100%;
  height: 50px;
  margin-top: 20px;
}

.flight{
  text-align: center;
}

.destination-select{
  width:100%;
  height: 50px;
}

.radio-select{
  input{
    margin-top: 70px;
  }
}

.flight-block{
  border: 1px solid grey;
  margin-top: 10px;
}

.selected-flight{
  background-color: #f8f8f8;
}

.flight-content{
  list-style: none;
  li{
    display: inline-block;
  }
}
.flight-duration{
  text-align: center;
}
.passengers-list{
  list-style: none;
  li{
    display: inline-block;
    margin-right: 40px;
  }
}

.alert{
  margin-top: 20px;
}

.invalid{
  //background-color: red;
}
