@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align: center;
  color: #f8f8f8;
}
h2{
  margin-top: 10px;
}

label{
  font-size: 20px;
  margin-top:10px;
}

input{
  width:100%;
  height: 50px;
  margin-top: 20px;
}

.destination-select{
  width:100%;
  height: 50px;
}

.radio-select{
  margin-top: 10px;
  width:100px;
  float:right;
  p{
    text-align: center;
  }
}

.flight-block{
  border: 1px solid black;
  margin-top: 10px;
}

.invalid{
  //background-color: red;
}
